<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/login.css">
</head>

<body>
    <div class="container">
        <form method="POST">
            <h1>Login</h1>
            <input type="text" name="nick" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>