<!DOCTYPE html>
<html>

<head>
    <title>Админ-панель</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>

<body>
    <%- include('components/navbar',{navbar:navbar})%>

        <main>

            <%- include('components/header',{title:title} ) %>

                <%- include ('components/view',{list:list}) %>

                    <%- include('components/footer',{footer:footer})%>


        </main>
</body>

</html>